a {
  color: currentColor;
}

select {
  font-size: 16px;
  height: var(--core-element-height-default);
  background: transparent;
  border: 0;
  padding: 0px var(--core-space-md);
  padding-right: 60px;
  color: var(--core-color-font-weak);
  border-radius: var(--core-border-radius-default);
  cursor: pointer;
  background: var(--core-color-white);
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, var(--core-color-ui), var(--core-color-ui));
  background-position: calc(100% - 20px) calc(1em + 5px),
    calc(100% - 15px) calc(1em + 5px), calc(100% - 2.5em) 12px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:hover {
  color: var(--core-color-font);
}

core-modal::part(modal) {
  min-height: 100vh;
  min-width: 100vw;
}

@media (min-width: 800px) {
  core-modal::part(modal) {
    min-height: 60vh;
    min-width: 50vw;
  }
}

.loading-modal::part(modal) {
  min-height: 100vh;
  min-width: 100vw;
}

@media (min-width: 800px) {
  .loading-modal::part(modal) {
    min-height: 100vh;
    min-width: 100vw;
  }
}

.device-grid {
  display: grid;
  grid-gap: var(--core-space-sm);
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .device-grid {
    grid-template-columns: 1fr;
  }
}

core-box[bg="ui-weaker"] {
  background: var(--core-color-ui-weaker);
}

core-select::part(input-field) {
  font-family: inherit;
}

.list-card {
  background: var(--core-color-ui-weaker);
  padding: var(--core-space-sm);
  box-shadow: var(--core-depth-sm);
  border-radius: var(--core-border-radius-md);
  outline: 0;
  -webkit-appearance: none;
}

.list-card summary {
  outline: 0;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
}

.list-card summary::-webkit-details-marker {
  display: none;
}

.range {
  --color: white;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: var(--core-color-ui);
}

input[type="range"] {
  border-radius: var(--core-border-radius-default);
}

.range::-webkit-slider-thumb {
  width: 20px;
  height: 30px;
  background: #fcffff;
  border: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
}

.saturation-range {
  --color: white;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, white, var(--color));
}


.brightness-range {
  --color: white;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(90deg, black, var(--color));
}


.hue-range {
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%) 0%,
    hsl(30, 100%, 50%) 8.3%,
    hsl(60, 100%, 50%) 16.6%,
    hsl(90, 100%, 50%) 25%,
    hsl(120, 100%, 50%) 33.3%,
    hsl(150, 100%, 50%) 41.6%,
    hsl(180, 100%, 50%) 50%,
    hsl(210, 100%, 50%) 58.3%,
    hsl(240, 100%, 50%) 66.6%,
    hsl(270, 100%, 50%) 75%,
    hsl(300, 100%, 50%) 83.3%,
    hsl(330, 100%, 50%) 91.6%,
    hsl(360, 100%, 50%) 100%
  );
}

.color-picker {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}
.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.tab-buttons core-tab {
  margin: 0;
  border: 0;
  background: var(--core-color-white);
}
.tab-buttons core-tab:not(:first-of-type) {
  border-left: 0;
}
.tab-buttons core-tab:first-of-type {
  border-top-left-radius: var(--core-border-radius-default);
  border-bottom-left-radius: var(--core-border-radius-default);
}
.tab-buttons core-tab:last-of-type {
  border-top-right-radius: var(--core-border-radius-default);
  border-bottom-right-radius: var(--core-border-radius-default);
}
.tab-buttons core-tab[selected] {
  background: var(--core-color-ui-weak);
}

.ml-auto {
  margin-left: auto;
}

.mx-xs {
  margin-left: var(--core-space-xs);
  margin-right: var(--core-space-xs);
}

.mx-xxs {
  margin-left: var(--core-space-xxs);
  margin-right: var(--core-space-xxs);
}

.mb-md {
  margin-bottom: var(--core-space-md);
}

.text-input {
  border: 0;
  outline: 0;
  background: var(--core-color-ui-weak);
  padding: var(--core-space-xs);
  border-radius: var(--core-border-radius-default);
  box-shadow: var(--core-depth-sm);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  height: 14px;
}

.text-input:focus {
  box-shadow: var(--core-depth-lg);
}

.text-input::placeholder {
  color: var(--core-color-text-disabled);
}

.card-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--core-space-xs);
  border-radius: var(--core-border-radius-default);
  background: var(--core-color-ui-weak);
  box-shadow: var(--core-depth-sm);
  cursor: pointer;
  margin-top: var(--core-space-xs);
  margin-bottom: var(--core-space-xs);
}

core-button:focus {
  outline: 2px solid var(--core-color-primary);
}

summary {
  outline: 0;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
  border-radius: var(--core-border-radius-default);
  padding: var(--core-space-xs);
}

summary > core-flex {
  display: inline-flex;
  width: calc(100% - 20px);
}

details summary:focus {
  outline: 2px solid var(--core-color-primary);
}


.flex {
  display: flex;
}

core-label[left] {
  width: unset;
  margin-right: var(--core-space-md);
  margin-bottom: unset;
}

core-label[size="sm"] {
  font-size: var(--core-space-sm) 
}

core-label[size="md"] {
  font-size: var(--core-space-md) 
}

core-label[size="lg"] {
  font-size: var(--core-space-lg) 
}

core-box[flex] {
  display: flex;
}

core-box[align-items="center"] {
  align-items: center;
}